@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto+Slab:wght@400;600;700&display=swap');

.bg-darkblue {
    background-color: #003566;
}

.container {
    height: 100vh;
}

.score {
    font-size: 1.5rem;
}

.game-container {
    width: 560px;
    height: 300px;
    outline: 0.4rem solid #2076c7;
    margin: 3rem auto;
    position: relative;
}

.block{
    height: 20px;
    width: 100px;
    position: absolute;
}

.red {
    background-color: #ef233c;
}

.green {
    background-color: #0ead69;
}

.orange {
    background-color: #fb8b24;
}

.user{
    height: 20px;
    width: 100px;
    background-color: #2076c7;
    position: absolute;
}

.ball {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #dad7cd;
    position: absolute;
}

.button-container button {
    font-size: 1.5rem;
}

button.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

div.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bolder;
    font-variant: small-caps;
    text-transform: capitalize;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 0.2rem;
}
